<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1096783478376-t64blj27ntc40jnugaa5au9uop65es6j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096783478376-t64blj27ntc40jnugaa5au9uop65es6j</string>
	<key>API_KEY</key>
	<string>AIzaSyANU8NJNKKBDbApBh36VaAjWn6KxRdQC3k</string>
	<key>GCM_SENDER_ID</key>
	<string>1096783478376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qcards</string>
	<key>PROJECT_ID</key>
	<string>qzcards-49ee1</string>
	<key>STORAGE_BUCKET</key>
	<string>qzcards-49ee1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096783478376:ios:0be624d4667b7c19be45dd</string>
</dict>
</plist>